*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: #eeeeee;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, auto-fill);
    grid-template-rows: 1fr;
    grid-template-areas: "gallery_column_0 gallery_column_1 gallery_column_2";
    grid-area: gallery;
}

.container{
    display: grid;
    grid-template-columns: minmax(300px,400px) 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "navbar  gallery"
                         "sidebar sidebar"
                         "footer  footer";
}

 
/* Style the navigation bar */
.navbar {
    display:flex;


    background-color: rgb(8, 101, 206);
    grid-area: navbar;
}

.navbar-brand{
    margin-top: 0px;
}
  
/* Navbar links */
.navbar a {
    float: left;
   
    padding: 20px;
    text-decoration: none !important;
    font-size: 18px;
    display:block;
 
    background-color: transparent;
    color:black;
    font-weight: bold;
}
  
/* Navbar links on mouse-over #fbb710;*/

.navbar a:hover {
  color:#fbb710;
}

.navbar-options {
    margin-top: 0px
}

.botones{
    margin: 50px;
    margin-left: 15px;

}

.boton1{
    background-color: #fbb710 !important;
    color:white !important;
    font-weight:bold !important;
    font-size:20px !important;
    padding: 20px !important;
}

.boton1:hover{
    background-color: #b6902f !important;
}

.boton2{
    margin-top: 20px !important;
    background-color: black !important;
    color:white !important;
    font-weight:bold !important;
    font-size:20px !important;
    padding: 20px !important;
}

.boton2:hover{
    background-color: rgb(41, 41, 41) !important;
}

.fas,
.fab{
    color:rgb(155, 155, 155);
}

.fab:hover{
    color:#fbb710;
}

.navbar-logo-options{
    margin-top: 50px;
}

.social_media{
    margin-top: 100px;
}

.gallery_column_0{
    grid-column:2/3;
    grid-area: gallery_column_0;
  /*  background: red;*/
}

.gallery_column_1{
    grid-column:3/4;
    grid-area: gallery_column_1;
  /*  background: orange;*/
}

.gallery_column_2{
    grid-column:4/5;
    grid-area: gallery_column_2;
 /*   background: yellow;*/
}

/* Create four equal columns that sits next to each other */
.gallery_column_0 
.gallery_column_1
.gallery_column_2 {
    display: flex;
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}
  
.gallery_column_0 img
.gallery_column_1 img
.gallery_column_2 img {
    margin-top: 8px;
    vertical-align:middle;
    width: 100%;
} 

figure {
    position:relative;
    text-align:left;
    background:grey;
}

figure div{
    position:relative;
    display:inline-block;
    max-width: 100%;
}

figure figcaption{
    top:0;
    font-size: 16px;
    position:absolute;
    margin:45px;
}

figcaption p{
    color:grey;
    font-weight: bold;
    padding-top: 18px;
    border-top-style: solid;
    border-top-width:4px;
    border-color:#fbb710;
    width:fit-content;
    font-size: 20px;
    margin-bottom: 5px;
}

figcaption h3{
    color: black;
}

figure img{
    opacity:1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img{
    opacity: .4;
}

figcaption:hover p ,
figcaption:hover h3{
    color:white;
    transition: color 0.3s ease;
} 

.sidebar{
    display:flex;
    grid-area: sidebar;
    background-color: #3c3c3c;
}

.footer{
    display:flex;
    grid-area: footer;
    background-color: #252525;
}

.footer-gallery{
    display: grid;
    grid-template-columns: 30px 500px;
    grid-template-rows: 1fr;
    grid-template-areas: "footer_column1  footer_column2";
}

.footer_column1{
    grid-area:footer-column1;
}

.footer_column2{
    grid-area:footer-column2;
    float:right;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 992px) {
    .gallery {
        flex: 50%;
        max-width: 50%;
    }

    .container {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .gallery {
        flex: 100%;
        max-width: 100%;
    }
    .gallery {
        grid-template-areas:            
                            "gallery_column_0"  
                            "gallery_column_1" 
                            "gallery_column_2";           
    }
    .container {
        flex: 100%;
        max-width: 100%;
    }
    .container {
        grid-template-areas: "navbar"            
                            "gallery"  
                            "sidebar"            
                            "footer";  
    }
  /*  .collapse {
        display: none !important;
    } https://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less*/
}